.blueprintPage {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 800px;
}

.allModules {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.offScreen {
    position: absolute;
    left: -9999px;
    top: -9999px;
    margin: 30px;
}

.inputModule {
    display: flex;
    flex-direction: column;
}
