.dropdownArrow {
    margin-left: auto;
}


.avatarThumbnail {
    height: 40px;
    border-radius: 50%;
}

.teamPreviewHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    height: 80px;
    width: 350px;
    padding-left: 5px;
    cursor: pointer;
}

.teamPreviewHeader.even {
    background-color: lightblue;
}


.teamPreviewHeader.even:hover {
    background-color: mediumaquamarine;
}

.teamPreviewHeader.odd {
    background-color: lightcyan;
}

.teamPreviewHeader.odd:hover {
    background-color: mediumaquamarine;
}


.expandableContent {
    padding: 5px;
}
