.playerSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    max-width: 200px;
}

.searchResultRow {
    cursor: pointer;
}

.menuWrapper {
    display: flex;
    width: 100%;
}

.flexSpace {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
