.formControlInput {
    width: 200px;
}
.rookieDraftGraphic {
    position: relative;
    width: fit-content;
}
.archetypeImage {
    position: absolute;
    top: 325px;
    right: 50px;
}
.teamName {
    position: absolute;
    color: white;
    left: 65px;
    top: 60px;
    font-family: 'Cheddar Gothic Rough';
    font-size: 75px;
}

.outlook {
    position: absolute;
    font-size: 58px;
    width: 198px;

    top: 1190px;


    font-family: 'Acumin Pro ExtraCondensed';
    font-weight: bold;
    color: white;
    text-align: center;
}

.year1 {
    left: 1660px;
}

.year2 {
    left: 1890px;
}

.year3 {
    left: 2120px;
}

.teamNeed {
    position: absolute;
    bottom: 140px;

    font-size: 69px;
    font-family: 'Antarctican Headline';
    font-weight: bold;
    color: white;

    text-align: center;
    width: 158px;
    border: 6px solid;
    z-index: 2;
}

.need1 {
    left: 80px;
    border-color: #f08b21;
}

.need2 {
    left: 315px;
    border-color: #50c7e0;
}

.need3 {
    left: 550px;
    border-color: #ee4b75;
}

.need4 {
    left: 785px;
    border-color: #a8cf38;
}

.shadow {
    z-index: 1;
    position: absolute;
    bottom: 131px;
    border: 6px solid rgba(15, 19, 59, 0.5);
    width: 158px;
    height: 90px;
}

.shadow1 {
    left: 71px;
}

.shadow2 {
    left: 306px;
}

.shadow3 {
    left: 541px;
}

.shadow4 {
    left: 776px;
}

.draftPickInputRow {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.draftPickInputColumn {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.draftPick {
    position: absolute;
    left: 1080px;

    font-family: 'Prohibition';
    font-size: 70px;
    color: white;

    width: 151px;
    text-align: center;
}

.draftPick1 {
    top: 460px;
}

.draftPick2 {
    top: 608px;
}

.draftPick3 {
    top: 756px;
}

.draftPick4 {
    top: 904px;
}

.verdict {
    position: absolute;
    left: 1231px;

    font-size: 50px;
    font-family: 'Antarctican Headline';
    font-weight: bold;
    color: white;

    height: 110px;
    line-height: 110px;
    width: 300px;
    text-align: center;

    box-shadow: rgba(15, 19, 59, 0.5) 9px 9px 0px 0px;
}

.verdict1 {
    top: 452px;
}

.verdict2 {
    top: 599px;
}

.verdict3 {
    top: 746px;
}

.verdict4 {
    top: 896px;
}

.downtier, .uptier {
    background-color: #f08b21;
}

.hold {
    background-color: #9c509f;
}

.provenasset, .provenvet {
    background-color: #50c7e0;
}

.target {
    position: absolute;

    font-family: 'Erbaum';
    font-weight: bold;
    font-size: 59px;
    color: white;

    width: 386px;
    text-align: center;
}

.target1 {
    top: 369px;
    left: 95px;
}

.target2 {
    top: 369px;
    left: 532px;
}

.target3 {
    top: 761px;
    left: 95px;
}

.target4 {
    top: 761px;
    left: 532px;
}

.rookieTarget {
    position: absolute;
    box-shadow: rgba(15, 19, 59, 0.5) -9px 9px 0px 0px;
}

.rookieTarget1 {
    left: 95px;
}

.rookieTarget3 {
    left: 95px;
}

.rookieTarget2 {
    left: 532px;
}

.rookieTarget4 {
    left: 532px;
}

.rookieTargetRow1 {
    top: 490px;
}

.rookieTargetRow2 {
    top: 575px;
}

.rookieTargetRow3 {
    top: 660px;
}

.rookieTargetRow4 {
    top: 880px;
}

.rookieTargetRow5 {
    top: 965px;
}

.rookieTargetRow6 {
    top: 1050px;
}

.line {
    position: absolute;

    height: 160px;

    border-left: #FFFFFF 3px solid;
}

.shorterLine {
    height: 80px;
}

.shortestLine {
    height: 0px;
}

.line1 {
    top: 550px;
    left: 286px;
}

.line2 {
    top: 550px;
    left: 724px;
}

.line3 {
    top: 940px;
    left: 286px;
}

.line4 {
    top: 940px;
    left: 724px;
}

.draftStrategyInputs {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 12px;
}

.draftStrategyInputColumn {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.draftStrategyHeader {
    position: absolute;
    left: 1050px;

    font-family: 'Prohibition';
    font-size: 50px;
    color: white;
    text-align: center;

    width: 500px;
}

.draftStrategyHeader1 {
    top: 1210px;
}

.draftStrategyHeader2 {
    top: 1400px;
}

.draftStrategyBody {
    position: absolute;
    left: 1070px;

    font-family: 'Acumin Pro';
    font-size: 16px;
    color: white;

    height: 80px;
    width: 460px;
}

.draftStrategyBody1 {
    top: 1295px;
}

.draftStrategyBody2 {
    top: 1485px;
}

.draftCapitalScoreInput {
    margin: 10px;
}

.draftCapitalScore {
    position: absolute;
    left: 2190px;
    bottom: 222px;

    font-family: 'Erbaum';
    font-weight: bold;
    font-size: 49px;
    color: white;
}

.draftCapitalScale {
    position: absolute;
    left: 1680px;
    bottom: 120px;

    height: 90px;
}

.draftCapitalScaleBg {
    position: absolute;
    right: 80px;
    bottom: 120px;

    box-shadow: rgba(15, 19, 59, 0.5) -9px 9px 0px 0px;

    background-color: gray;

    height: 90px;
    width: 650px;
}

.draftCapitalSlider {
    position: absolute;
    left: 1680px;
    bottom: 110px;

    border-right: white 6px solid;

    height: 110px;
}