.addRemoveButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}

.playerInputRow {
    display: flex;
    flex-direction: row;
    gap: 10px;

    height: fit-content;
}

.addToTierButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;

    width: fit-content;
}

.addToTierRow {
    display: flex;
    flex-direction: row;
    gap: 10px;

    align-items: center;
}

.playerName {
    cursor: pointer;
}

.playerCard {
    position: relative;
    width: 250px;
    height: 300px;
    cursor: pointer;

    overflow: hidden;

    .background {
        width: 100%;
    }

    .headshot {
        position: absolute;
        left: 0;
        bottom: 0;
        width: inherit;
        height: inherit;
        object-fit: cover;

        filter: drop-shadow(5px 5px 5px black);
    }

    .opponent {
        position: absolute;
        top: 4px;
        left: 4px;

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;

        .opponentLogo {
            width: 100%;
        }

        font-family: 'Prohibition Test';
        font-size: 19px;
        color: #f9f5e5;
    }

    .playerCardNameWrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        background-color: rgb(1, 1, 1, 0.75);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .playerCardName {
        font-family: 'Prohibition Test';
        font-size: 28px;
        color: #f9f5e5;

        padding-top: 5px;
        padding-bottom: 10px;
    }
}

.playerRank {
    font-family: 'Prohibition Test';
    color: #010101;
    font-size: 36px;
    padding-bottom: 5px;
}

.playerRankWrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    background-color: #f9f5e5;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.tierGraphic {
    display: flex;
    flex-direction: row;
    width: fit-content;
}
