.fullBlueprint {
    position: relative;
    width: 1400px;
}

.blankBp {
    width: inherit;
}

.startersGraphic {
    position: absolute;
    left: 50px;
    top: 305px;
    scale: 0.69;
    transform-origin: top left;
}

.cornerstoneGraphic {
    position: absolute;
    left: 600px;
    top: 320px;
    scale: 0.97;
    transform-origin: top left;
}

.benchStringGraphic {
    position: absolute;
    left: 60px;
    top: 1100px;

    color: white;
    font-family: 'Acumin Pro ExtraCondensed';
    font-size: 25px;
    text-align: center;
    width: 450px;
}

.benchStringGraphicSmaller {
    font-size: 23px;
}

.benchStringGraphicSmallest {
    font-size: 19px;
}

.positionalGradesGraphic {
    position: absolute;
    left: 720px;
    top: 570px;
    scale: 0.65;
    transform-origin: top left;
}

.rosterTierGraphic {
    position: absolute;

    right: 390px;
    top: 88px;
}

.buySellHoldGraphic {
    position: absolute;
}

.monthYear {
    position: absolute;
    right: 60px;
    top: 220px;

    font-family: 'Erbaum';
    font-size: 30px;
    color: white;
}

.teamNameGraphic {
    position: absolute;
    color: white;
    left: 65px;
    top: 110px;
    font-family: 'Cheddar Gothic Rough';
    font-size: 75px;
    max-width: 440px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.smallerTeamName {
    font-size: 55px;
}

.smallestTeamName {
    font-size: 45px;
}
