.playerProfile {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.headshot {
    border-radius: 50%;
    max-height: 150px;
}

.playerPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexSpace {
    flex: 1;
}

.menuIcon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
