.rosterPlayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2px;

    font-family: 'Prohibition Test';
    color: white;
}

.positionColumn {
    width: 220px;
}

.positionHeader {
    font-family: 'Erbaum';
    font-size: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fullRoster {
    display: flex;
    flex-direction: row;
    gap: 20px;

    background-color: #005D91;
}

.postionalRank {
    font-family: 'Prohibition Test';
}
