.graphicComponent {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: fit-content;
}

.graphicRow {
    display: flex;
    flex-direction: row;
    gap: inherit;
}
.cornerstoneTile {
    position: relative;
    width: 500px;
    height: 255px;
    overflow: hidden;
}

.teamLogo {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 110%;
    opacity: 0.2;
}
.headshot {
    position: absolute;
    bottom: 0;
    left: 40px;
    height: 100%;
    object-fit: cover;
        aspect-ratio: 1 / 1;
}

.positionalAdp {
    position: absolute;

    font-family: 'Prohibition';
    line-height: 0.9;
    font-size: 20px;
    padding: 6px;
}


.tileText {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    color: #09153A;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstName {
    font-family: 'Erbaum';
    font-size: 16px;

    margin-bottom: -5px;
}

.lastName {
    font-family: 'Prohibition';
    font-size: 52px;

    line-height: 0.9;

    margin-bottom: 16px;
}

.teamName,
.number {
    font-family: 'Prohibition';
    font-size: 20px;

    font-style: oblique;
}
