.graphicComponent {
    background-color: #005D91;
    width: fit-content;

    display: flex;
    flex-direction: row;
    gap: 96px
}

.buySellColumn {
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.sellTile {
    width: 622px;
    height: 140px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .playerName {
        font-family: 'Prohibition';
        font-size: 52px;

        padding-bottom: 5px;
        /* bc font is uncentered */
    }

    .teamName {
        font-family: 'Erbaum';
        line-height: 0.9;
        font-size: 24px;
    }

    .positionalAdp {
        font-family: 'Prohibition';
        font-size: 24px;
        line-height: 0.9;
    }
}

.sellTileText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sellLabelCol {
    font-family: 'Erbaum';
    font-size: 24px;
    line-height: 0.9;

    width: 140px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sellLabel {
    padding-left: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sellIcon {
    width: 30px;
}
.buyTileContainer {
    position: relative;
    width: 622px;
    height: 162px;
}

.buyTileColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    height: 100%;

    position: absolute;
    right: 0;
    top: 0;
}

.buyTile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 66px;
    height: 105px;
    width: 400px;


    .playerName {
        font-family: 'Prohibition';
        font-size: 44px;

        padding-bottom: 5px;
        /* bc font is uncentered */

        line-height: 0.9;
    }

    .teamName {
        font-family: 'Erbaum';
        line-height: 0.9;
        font-size: 18px;
    }

    .positionalAdp {
        font-family: 'Prohibition';
        font-size: 20px;
        line-height: 0.9;
    }
}

.playerImg {
    background-color: white;
    position: absolute;
    left: 50px;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;

    border-radius: 50%;
}

.buyLabel {
    font-family: 'Erbaum';
    font-size: 24px;

    position: absolute;
    right: 4px;
    top: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buyInput {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.playerBuyColumnInput {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.buyPlusColumn {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-around;
}
