.teamPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamPageContent {
    display: flex;
    flex-direction: row;
}

.teamPageRoster {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-wrap: nowrap;
}

.arrowButton {
    height: 48px;
}

.displayName {
    font-size: larger;
    font-weight: bold;
}

.menuWrapper {
    display: flex;
    width: 100%;
}

.flexSpace {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.starterRow {
    display: flex;
    align-items: center;
}

.starterPosition {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
