.inputRow {
    display: flex;
}

.graphicComponent {
    background-color: #005D91;

    color: white;
    font-family: 'Prohibition';

    display: flex;
    flex-direction: row;
    width: fit-content;
}

.columnSection {
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 140px;
    justify-content: space-evenly;
    }
    
    .nameColumn {
    margin: 0 10px;
}

.alignFlexEnd {
    align-items: flex-end;
}

.wholeColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
        height: 230px;
}

.columnBorder {
    border-right: 1px solid white;
}

.arrowContainer {
    height: 117.5px;
        display: flex;
}
