.inputRow {
    display: flex;
}

.graphicComponent {
    color: white;
    font-family: 'Prohibition';

    display: flex;
    flex-direction: row;
    width: fit-content;
}

.columnSection {
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 110px;
    justify-content: space-evenly;
}

.nameColumn {
    margin: 0 10px;
}

.alignFlexEnd {
    align-items: flex-end;
}

.wholeColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 230px;
}

.columnBorder {
    border-right: 1px solid white;
}

.arrowContainer {
    height: 117.5px;
    display: flex;
}

.valueAndArrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.arrowImage {
    display: flex;
    flex-direction: column;
}

.value {
    font-family: 'Acumin Pro Condensed';
    font-weight: bold;
    padding-top: 5px;
    /* bc font is uncentered */
}
