.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.foundTeamId {
    font-weight: bold;
}