.fullBlueprint {
    position: relative;
}

.base {
    width: 2400px;
}

.settingsGraphic {
    position: absolute;
    left: 420px;
    top: 410px;
    scale: 1.55;
}

.startersGraphic {
    position: absolute;
    left: 200px;
    top: 885px;
    scale: 1;
}

.cornerstoneGraphic {
    position: absolute;
    left: 1292px;
    top: 1310px;
    scale: 1.68;
}

.depthScoreGraphic {
    position: absolute;
    left: 1082px;
    top: 835px;
    scale: 1.45;
}

.playersToTargetGraphic {
    position: absolute;
    left: 1765px;
    top: 1725px;
    scale: 1.22;
}

.positionalGradesGraphic {
    position: absolute;
    left: 310px;
    top: 2525px;
    scale: 1.2;
}
