.fullBlueprint {
    position: relative;
}

.base {
    width: 2400px;
}

.settingsGraphic {
    position: absolute;
    left: 420px;
    top: 410px;
    scale: 1.55;
}

.startersGraphic {
    position: absolute;
    left: 200px;
    top: 885px;
    scale: 1;
}
