.fullBlueprint {
    position: relative;
}

.base {
    width: 2400px;
}

.settingsGraphic {
    position: absolute;
    left: 420px;
    top: 420px;
    scale: 1.55;
}

.startersGraphic {
    position: absolute;
    left: 200px;
    top: 885px;
    scale: 1;
}

.cornerstoneGraphic {
    position: absolute;
    left: 1292px;
    top: 1310px;
    scale: 1.68;
}

.depthScoreGraphic {
    position: absolute;
    left: 1082px;
    top: 835px;
    scale: 1.4;
}

.playersToTargetGraphic {
    position: absolute;
    left: 1765px;
    top: 1725px;
    scale: 1.22;
}

.positionalGradesGraphic {
    position: absolute;
    left: 310px;
    top: 2525px;
    scale: 1.2;
}

.lookToTradeGraphic {
    position: absolute;
    left: 1117px;
    top: 1675px;
    scale: 1.35;
}

.teamNameGraphic {
    position: absolute;
    color: white;
    left: 210px;
    top: 40px;
    font-family: 'Cheddar Gothic Rough';
    font-size: 140px;
    text-shadow: -6px 6px #213965;
}

.archetypeSilhouette {
    position: absolute;
    left: 1800px;
    top: 175px;
}

.archetypeTitle {
    position: absolute;
    left: 1700px;
    top: 115px;
    font-family: 'Erbaum';
    color: white;
    font-size: 50px;
}

.archetype {
    position: absolute;
    right: 280px;
    bottom: 2475px;
    font-family: 'Prohibition Test';
    color: white;
    font-size: 140px;
    -webkit-text-stroke: 3px white;
    text-shadow: -10px 10px #213965;
    max-width: 500px;
    color: #8AC73E;
    z-index: 2;
}

.outlookImages {
    position: absolute;
    top: 900px;
    left: 1675px;

    display: flex;
    width: 600px;
    justify-content: space-between;
}

.outlookTitle {
    position: absolute;
    top: 812px;
    left: 1750px;

    font-family: 'Erbaum';
    color: white;
    font-size: 50px;
}

.outlookChips {
    position: absolute;
    top: 912px;
    left: 1690px;

    font-family: 'Erbaum';
    color: white;
    font-size: 50px;

    display: flex;
    width: 580px;
    justify-content: space-between;
}

.outlookLabel {
    font-family: 'Acumin Pro ExtraCondensed';
    font-weight: bold;
    text-align: center;
    text-shadow: -3px 3px #213965;
    font-size: 60px;
}

.outlookYear {
    padding-bottom: -5px;
    border-bottom: white 3px solid;
    line-height: 50px;
    padding: 0 8px;
}

.outlookChip {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    gap: 15px;
}

.smallerTeamName {
    font-size: 120px;
}

.smallestTeamName {
    font-size: 90px;
    top: 80px;
}

.offScreen {
    position: absolute;
    left: -9999px;
    top: -9999px;
    margin: 30px;
}

.inputModule {
    display: flex;
    flex-direction: column;
}

.extraInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputGrid {
    width: 1000px !important;
}

.archetypeSelectors {
    display: flex;
    flex-direction: column;
}

.rebuildContendScaleGraphic {
    position: absolute;
    top: 2125px;
    left: 205px;
}

.scaleAndSlider {
    position: relative;
}

.slider {
    position: absolute;
    left: 0;
    top: -30px;
}

.otherSlider {
    position: absolute;
    left: 0;
    top: -20px;
    width: 100px;
}

.draftCapitalGradeGraphic {
    position: absolute;
    top: 2530px;
    left: 1405px;
}

.draftCapitalBackground {
    margin-top: 40px;
}

.draftCapitalText {
    position: absolute;
    left: 0;
    top: 125px;
    color: white;
    font-size: 40px;
    font-family: 'Antarctican Headline';
    width: 880px;
    text-align: center;
}

.commentsGraphic {
    position: absolute;
    top: 2857.39px;
    left: 1377.75px;
    width: 850px;

    color: white;
    font-family: 'Acumin Pro';
    font-weight: lighter;
    font-size: 25px;
}
