.graphicComponent {
    background-color: #005D91;
    padding: 35px 10px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.scaleAndSlider {
    position: relative;
    width: 112px;
}
.scale {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider {
    position: absolute;
    width: 100%;
    left: 4px;
    bottom: 0;
}

.chip {
    align-self: center;
    font-family: 'Antarctican Headline';
    font-size: 40px;
    color: white;
    padding: /* top/bottom = */ 4px /* left/right = */ 0px ;
    border-radius: 12px;
}
.QB{
    background-color: #EC336D;
}

.RB {
    background-color: #3DBCB1;
}

.WR {
    background-color: #3CB6E9;
}

.TE {
    background-color: #FBAD5B;
}
