.graphicComponent {
    background-color: #005D91;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 10px;
    width: 105%
}

.column {
    display: flex;
    flex-direction: column;
}

.scaleAndSlider {
    position: relative;
    width: 140px;
}

.scale {
    box-shadow: -6px 6px #213965;
    margin-left: 10%;
    object-fit: cover;
    width: 80%;
}

.slider {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 0;
}

.chip {
    align-self: center;
    border-radius: 12px;
    box-shadow: 0 -6px white;
    color: white;
    font-family: 'Antarctican Headline';
    font-size: 60px;
    margin-top: 32px;
    padding: /* top/bottom = */ 4px /* left/right = */ 0px ;
    text-align: center;
    width: 100%;
}

.grade {
    color: white;
    font-family: 'Prohibition Test';
    font-size: 28px;
    margin-top: 8px;
    text-align: center;
}

.slash {
    font-weight: bolder;
}

.QB {
    background-color: #EC336D;
}

.RB {
    background-color: #3DBCB1;
}

.WR {
    background-color: #3CB6E9;
}

.TE {
    background-color: #FBAD5B;
}
