.graphicComponent {
    background-color: #005D91;
    width: fit-content;
    color: white;
    padding-bottom: 20px;
}

.title {
    font-family: 'Erbaum';
    font-size: 36px;
    width: 420px;
    text-align: center;
    margin-bottom: 20px;
}

.suggestion {
    font-size: 32px;
    margin-left: 24px;
    margin-bottom: 42px;
}

.whiteBullet {
    font-size: 16px;
    font-weight: bold;
}

.send {
    font-family: 'Prohibition Test', sans-serif;
    display: flex;
    align-items: center;
}

.receive {
    border-radius: 12px;
    font-family: 'Antarctican Headline';
    text-align: center;
    box-shadow: -4px 4px #213965;
    padding: /* top/bottom = */ 6px;
    margin: 8px 40px 8px 36px;
}

.body {
    display: flex;
    flex-direction: row;
}

.inputComponent {
    display: flex;
    flex-direction: column;
    width: 200px;
}
