.settingsBody {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.otherSettings {
    margin-top: 20px;
}

.indented {
    padding-left: 10px;
}

.bench {
    width: 450px;
}

.copyWrapper {
    display: flex;
    align-items: center;
}

.playerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    min-width: 200px;
}

.background {
    background-color: #005D91;
}

.graphicComponent {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 16px;

    color: white;
    font-size: 30px;
    width: 784px;
}

.chip {
    border-radius: 16px;
    font-family: 'Acumin Pro Bold';
    text-align: center;
    box-shadow: -4px 4px #213965;
    padding: /* top/bottom = */ 8px /* left/right  = */ 18px;
    padding-top: 14px; /* bc font is uncentered */
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.red {
    background-color: #EC336D;
}

.blue {
    background-color: #3CB6E9;
 }
